# For main system
# $ docker compose --project-directory /opt/dc/portainer up -d --pull always

# For sub system
# $ docker compose --project-directory /opt/dc/portainer up -d --pull always portainer-agent

services:
  portainer:
    container_name: portainer
    hostname: portainer
    image: portainer/portainer-ee:alpine
    restart: unless-stopped
    network_mode: bridge
    expose:
      - 8000
      - 9000
    ports:
      - 9443:9443/tcp
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /opt/dc/portainer/data:/data:rw
      - /opt/dc/traefik/certificates:/certificates:ro
    command:
      - --http-enabled
      - --sslcert
      - /certificates/certs/$DOMAIN.crt
      - --sslkey
      - /certificates/private/$DOMAIN.key
    environment:
      TZ: $TZ
      AGENT_SECRET: $AGENT_SECRET
    labels:
      traefik.enable: true
      # Web UI
      traefik.http.routers.pt.rule: Host(`pt.$DOMAIN`)
      traefik.http.routers.pt.entrypoints: https
      traefik.http.routers.pt.tls: true
      traefik.http.routers.pt.service: pt
      traefik.http.services.pt.loadbalancer.server.port: 9000
      # Edge Agent Tunnel
      traefik.http.routers.pt-e.rule: Host(`pt-e.$DOMAIN`)
      traefik.http.routers.pt-e.entrypoints: https
      traefik.http.routers.pt-e.tls: true
      traefik.http.routers.pt-e.service: pt-e
      traefik.http.services.pt-e.loadbalancer.server.port: 8000
    healthcheck:
      test: ['CMD-SHELL', 'wget -q -O - https://pt.$DOMAIN:9443/api/system/status']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  portainer-agent:
    container_name: portainer-agent
    hostname: portainer-agent
    image: portainer/agent:alpine
    restart: unless-stopped
    network_mode: bridge
    ports:
      - 9001:9001/tcp
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/volumes:/var/lib/docker/volumes:rw
    environment:
      AGENT_SECRET: $AGENT_SECRET
    healthcheck:
      test: ['CMD-SHELL', 'wget -q -O - --no-check-certificate https://localhost:9001/ping']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 1s
